{% extends "base.html" %}

{% block title %}NYT Sports Новости{% endblock %}

{% block nav_links %}
    <a href="/#news-section">Все новости</a>
    <a href="/rss_habr">Habr</a>
    <a href="/rss_reddit">Reddit</a>
{% endblock %}

{% block content %}
    <div class="news-container">
        {% for news in news_list %}
            <div class="news-item">
                <h3><a href="{{ news.link }}" target="_blank">{{ news.title }}</a></h3>
                {% if news.image_url %}
                    <img src="{{ news.image_url }}" alt="{{ news.title }}" style="width: 50%; height: auto; display: block; margin: 10px auto;" />
                {% endif %}
                <p>{{ news.description | safe }}</p>
                <small><em>Опубликовано: {{ news.published }}</em></small>
            </div>
        {% endfor %}
    </div>
{% endblock %}
